* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Netflix Sans", sans-serif;
    background-image: linear-gradient(to bottom, #ffe6f0, #fa93bc);
    /* Degradê suave de cima para baixo */
    background-attachment: fixed;
    /* Mantém o degradê fixo enquanto a página rola */
    min-height: 100vh;
    /* Garante que o degradê cubra toda a altura da viewport */
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
}

header li {
    color: #f48fb1;
}

nav ul li a:hover {
    background-color: rgba(229, 9, 20, 0.2);
    color: #ff93b7;
}

header h1 {
    color: #f48fb1;
    font-size: 1.5rem;
    margin-left: 0;
    margin-bottom: 10px;
}

#ErvilhaFlix {
    list-style: none;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    color: #f06292;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

nav ul li a {
    color: f48fb1;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(229, 9, 20, 0.2);
    color: #ff93b7;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #f06292;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 4%;
}

main h1 {
    color: rgb(255, 255, 255);
}

main {
    background-color: rgb(49, 49, 49);
    flex-grow: 1;
    padding: 20px;
    padding-top: 80px;
    align-items: center;
    width: 1000px;
    align-self: center;
}

/* ESTILOS EXTRAS PARA dev.html (opcional) */
section {
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

section p {
    margin-bottom: 10px;
}

section a {
    color: #ff93b7;
    text-decoration: underline;
}