html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffe6f0, #fa93bc); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    background-color: white; 
    width: 300px;
    text-align: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-100%);
    animation: descer 1s ease-out forwards;
  }
  
  @keyframes descer {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  h1 {
    color: #333;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    text-align: left;
    margin: 10px 0 5px 0;
    color: #333;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background-color: #333;
  }
  